.row-header{
    margin: 0px auto;
    padding: 0px;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 150px;
}

.footer{
    background-color:#C7D0CF;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px 0px 40px 0px;
    background-color: #25F0D8;
    color: white;
}
.address {
    font-size: 80%;
    margin: 0px auto;
    color: #0f0f0f;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-inverse{
    background-color: #512DA8
}